.workoutContainer{
  display: flex;
  flex-direction: column;
  background-color: #212121;
  height: calc( 100vh );
  width: 100vw;
  background-image: url("https://images.pexels.com/photos/373984/pexels-photo-373984.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  
}

.workoutFormWrapper{
  display: flex;
  margin-right: 180px;
  margin-top: 80px;
  padding: 20px;
  height: 45%;
  background-color: #6d947b;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.workoutForm{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  /* margin-bottom: 1000px; */
}

.workoutFormButton{
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  background-color: darkslategray;
  color: #fff;
  height: 44px;
  min-width: 130px;
  min-height: 44px;
  transition: background-color .17s ease,color .17s ease;
  border-radius: 3px;
  border: none;
  font-weight: 500px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}

.workoutFormButton:hover {
  background-color: antiquewhite;
  color: #6d947b;
}

.categoryDropdown{
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;
}

.intensitySlider input:hover{
  cursor: pointer;
}

.Dropdown{
  display: flex;
  align-items: center;
}

.bestDiv {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
}

.workoutList {
  transition: border-color .2s ease-in-out;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: -internal-light-dark-color(white, black);
  -webkit-rtl-ordering: logical;
  cursor: pointer;
  margin: 0em;
  margin: 0 auto;
  margin-top: 10px;
  font: 400 11px system-ui;
  padding: 10px;
  border-width: 1px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
  width: 95%;
  border-radius: .3em;
  font-size: 15px;
  border: 1px solid gray;
}

.dropdownText {
  text-align: center;
}