.workoutContainer{
  display: flex;
  flex-direction: column;
  background-color: #212121;
  height: calc( 100vh );
  width: 100vw;
}

.workoutFormWrapper{
  display: flex;
  margin: 0 auto;
  padding: 20px;
  height: 45%;
  width: 60%;
  background-color: #555;
}

.workoutForm{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 20px;
}

.workoutFormButton{
  width: 70%;
  margin: 0 auto;
}

.categoryDropdown{
  display: flex;
  width: 100%;
  height: 65%;
  justify-content: center;
}

.intensitySlider input:hover{
  cursor: pointer;
}

.Dropdown{
  display: flex;
  align-items: center;
}